.margin{
    margin: 0px 2rem;
}
.main-container{

    .col-md-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.btn-primary{
    background-color: rgb(16, 216, 156);
}