$coloresPrincipales:(
    colorPrimario:blue,
    colorSecundario:#eeccff,
    backgroundWhite:white,
    backgroundBlack:black
);


@each $clave, $valor in coloresPrincipales {
    .#{$clave}{
        color: $valor;
    }
}


$estilos:(
    color:rgb(16, 216, 156),
    centro:center,
    tFuente:35px,
    paddingTop:10px
);


h3 {
    color:map-get($estilos,color);
    text-align:map-get($estilos,center);
    font-size:map-get($estilos,tFuente);
}



